:host {
  display: contents;
}
input {
 height: calc(var(--text-font-size) + 2px) !important;
  line-height: calc(var(--text-font-size)) !important;
//width: fit-content !important;
  padding: 0px;
  margin-top: -1px;
  // height: 20px;
}
input[ng-reflect-size="1"] {
  width: 1rem;
  text-align: center;
}
input[ng-reflect-size="2"] {
  width: calc(var(--text-font-size) + 10px);
  text-align: center;
}
