<cds-modal [open]="this.playMacro" (overlaySelected)="this.playMacro = true" (close)="this.playMacro = false">
  <form #playMacroForm="ngForm">
    <cds-modal-header (closeSelect)="this.playMacro = false" [showCloseButton]="false" class="model-border">
      <p class="cds--modal-header__heading cds--type-beta">Play Macro</p>
    </cds-modal-header>
    <div class="cds--modal-content card custom-margin">
      <cds-text-label>
        <p class="label-size">Select a Macro to Play<span class="mandatory">*</span>:</p></cds-text-label>
      <cds-dropdown [size]="size" (selected)="selected($event)" [(ngModel)]="selectedPlayMacro" name="playMacro">
        <cds-dropdown-list [items]="macroList" required></cds-dropdown-list>
      </cds-dropdown>
     </div>
    <cds-modal-footer>
      <ng-container>
        <button cdsButton="secondary" class="customButton" (click)="onCancelMacro('play')">
          Cancel
        </button>
        <button cdsButton="primary" class="customButton" (click)="this.playMacro = false;onPlayMacro()" [disabled]="!selectedPlayMacro">
          Play
        </button>
      </ng-container>
    </cds-modal-footer>
  </form>
</cds-modal>

<cds-modal [open]="this.recMacro" (overlaySelected)="this.recMacro = true" (close)="this.recMacro = false">
  <form #recordMacroForm="ngForm">
    <cds-modal-header (closeSelect)="this.recMacro = false" [showCloseButton]="false" class="model-border">
      <p class="cds--modal-header__heading cds--type-beta">Record Macro</p>
    </cds-modal-header>
    <div class="cds--modal-content card custom-margin">
     <div id="macroRecordContainer">
      <cds-text-label>
        <p class="label-size">Enter Macro Name<span class="mandatory">*</span>:</p>
        <input cdsText [size]="'lg'" [placeholder]="'Enter Macro Name'" name="txtRecordMacro" id="txtRecordMacro" (ngModelChange)="clearValidation()" pattern="^[a-zA-Z0-9-]*$"
          class="form-control" ngModel #txtRecordMacro="ngModel" required maxlength="15">
      </cds-text-label>
    </div>
      <div class="alert-msg" *ngIf="validationFlag">The Macro name already exists, Please enter a new Macro name.</div>
      <div class="alert-msg" *ngIf="txtRecordMacro.invalid && (txtRecordMacro.dirty || txtRecordMacro.touched) && txtRecordMacro.errors?.pattern">Special Characters are not allowed in Macro name.</div>
    </div>
    <cds-modal-footer>
      <ng-container>
        <button cdsButton="secondary" class="customButton" (click)="onCancelMacro('record')">Cancel</button>
        <button cdsButton="primary" class="customButton" type="submit" [disabled]="!recordMacroForm.valid"
          (click)="onRecordMacro(recordMacroForm)">Record</button>
      </ng-container>
    </cds-modal-footer>
  </form>
</cds-modal>

<cds-modal [open]="this.viewMacro" (overlaySelected)="this.viewMacro = true" (close)="this.viewMacro = false">
  <form #viewMacroForm="ngForm" (ngSubmit)="onViewMacro()">
    <cds-modal-header (closeSelect)="this.viewMacro = false" [showCloseButton]="false" class="model-border">
      <p class="cds--modal-header__heading cds--type-beta">View Macro</p>
    </cds-modal-header>
    <div class="cds--modal-content card custom-margin">
      <cds-text-label for="viewMacro">
        <p class="label-size"> Select a Macro to View<span class="mandatory">*</span>:</p></cds-text-label>
      <cds-dropdown [size]="size" (selected)="selected($event)" [(ngModel)]="selectedViewMacro" name="viewMacro">
        <cds-dropdown-list [items]="macroList" required ></cds-dropdown-list>
      </cds-dropdown>
    </div>
    <cds-modal-footer>
      <ng-container>
        <button cdsButton="secondary" class="customButton" (click)="onCancelMacro('view')">
          Cancel
        </button>
        <button cdsButton="primary" class="customButton" [disabled]="!selectedMacro">
          View
        </button>
      </ng-container>
    </cds-modal-footer>
    <span *ngIf="viewMacroFlag" class="span-margin custom-margin">Details of the selected Macro:</span>
    <div class="custom-border" *ngIf="viewMacroFlag" style="height:auto; max-height: 300px;overflow:auto">

      <div *ngFor="let step of selectedMacroObj['steps'];let i = index">
        <div class="ml-3">Step : {{i+1}} </div>
        <div class="ml-5">Key : {{step.sendKey}}</div>
        <div *ngFor="let inputField of step.fields">
          <div class="ml-5">Fields : {{inputField.name}}</div>
          <div class="ml-5">Value : {{inputField.value}}</div>
        </div>
        <hr>
      </div>
    </div>
  </form>
</cds-modal>

<cds-modal [open]="this.delMacro" (overlaySelected)="this.delMacro = false" (close)="this.delMacro = false">
  <cds-modal-header (closeSelect)="this.delMacro = false" [showCloseButton]="false" class="model-border">
    <p class="cds--modal-header__heading cds--type-beta">Delete Macro</p>
  </cds-modal-header>
  <div class="cds--modal-content card custom-margin">
    <cds-text-label>
      <p class="label-size">Select a Macro for Deletion<span class="mandatory">*</span>:</p>
    </cds-text-label>
    <cds-dropdown [size]="size" (selected)="selected($event)" [(ngModel)]="selectedDelMacro" name="delmacro">
      <cds-dropdown-list [items]="macroList"></cds-dropdown-list>
    </cds-dropdown>
  </div>
  <cds-modal-footer>
    <ng-container>
      <button cdsButton="secondary" class="customButton" (click)="onCancelMacro('remove')">
        Cancel
      </button>
      <button cdsButton="primary" class="customButton" (click)="this.delMacro = false; onDeleteMacro()" [disabled]="!selectedDelMacro">
        Delete
      </button>
    </ng-container>
  </cds-modal-footer>
</cds-modal>