@if (transform.multipleOptionsType === 'Combobox') {
  <cds-dropdown (focus)="onFocus()"
    (selected)="onSelect($event.item.value)"
  [ngStyle]="{'grid-row-start': transform.position.row, 'grid-column-start': transform.position.column,
                         'grid-column-end': (transform.position.column+getLongestString(getItemsKeys(transform.items))), 'position': 'relative'}">
    <cds-dropdown-list [items]="entries"></cds-dropdown-list>
  </cds-dropdown>
}

@if (transform.multipleOptionsType === 'Radio Buttons') {
  <div class="sm-radio radioButtons"
    [ngStyle]="{'grid-row-start': transform.position.row, 'grid-column-start': transform.position.column, 'grid-column-end': transform.position.column+2}"
    [ngClass]="transform.style">
    <cds-radio-group>
      @for (item of transform.items; track item; let i = $index) {
        <cds-radio [value]="item.value"
          [checked]="radioValue !==null && item.value === radioValue" [id]="'radio-' + transform.position.row +'-'+ item.value"
          (change)="onSelect($event.source.value)">
          {{item.key}}
        </cds-radio>
      }
    </cds-radio-group>
  </div>
}

@if (transform.leadingLabel) {
  <app-text [transform]="transform.leadingLabel"></app-text>
}