:host {
  display: contents;
}
.radioButtons {
  display: flex;
  flex-direction: row;
}
select {
  width: max-content;
}
app-text {
  display: contents;
}

label {
  color: var(--primary-text-color) !important;
  font-size: var(--text-font-size) !important;
}
