<div id="copyParentDiv" tabindex="10" >
    <div class="container-fluid" *ngIf="printFlag">
        <div class="row">
            <div class="col-11 col-sm-11">
                <h5 class="modal-title" id="exampleModalLabel">Print Preview</h5>
            </div>
            <div class="col-1 col-sm-1">
                <sag-topnav-right right>
                        <sag-topnav-item id="pop-up-print-icon" itemType="button" [disable]='false' title="Print"
                            (click)="print()" itemId="print" itemName="" itemIcon="dlt-icon-print"
                            itemStyle="color:white">
                    </sag-topnav-item>
                </sag-topnav-right>
            </div>
        </div>
    </div>
    <div id="copyDiv" class="copyWrapper crosshair" (mousedown)="handleMouseDown($event)" (mouseup)="handleMouseUp($event)" ></div>
    <div class="modal-footer unselectable" unselectable="on">
        <div class="instruction">
            <span>{{copyInstruction}}</span>
            <span class="selectbgcolor">{{copyInstruction_bgcolor}}</span>
</div>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close >Cancel</button>
    </mat-dialog-actions>
</div>
</div>