<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Clipboard for Copying!!!</h5>
    <!-- <button type="button" class="btn-close" aria-label="Close" ></button> -->
</div>
<!-- <div class="modal-body" id="copyDiv">{{data.content}}</div> -->
<div id="copyDiv"></div>
<div class="modal-footer">
    <mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="close()">Cancel</button>
      </mat-dialog-actions>
    <!-- <button type="button" class="btn btn-secondary" >
        Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button> -->
</div>