@if (m_screen) {
  <div
    [attr.name]="m_screen.name"
    [dir]="storageService.getLanguage().screenDirectionRTL ? 'rtl' : 'ltr'"
    id="gx_screenArea"
    class="wrapper"
    [ngStyle]="isChildWindow ? {'grid-template-columns': m_screen ? 'repeat('+m_screen.windows[index].bounds.cols+', 1fr)' : 'repeat(80, 1fr)',
                'grid-template-rows': m_screen ? 'repeat('+m_screen.windows[index].bounds.rows+', 1fr)' : 'repeat(24, 1fr)',
                'grid-row-start':  (m_screen.windows[index].bounds.startRow), 'grid-column-start': m_screen.windows[index].bounds.startCol,
                'grid-row-end': (m_screen.windows[index].bounds.endRow+1), 'grid-column-end': m_screen.windows[index].bounds.endCol+1,
                'border-style': (m_screen.windows[index].boundsIncludeBorder && !this.intensifiedScr) ? 'solid' : 'none', 'width': 'max-content !important',
                'z-index': this.index+1}
                : {'grid-template-columns': m_screen ? 'repeat(minmax(0px, 1fr))'  : 'repeat(80, 1fr)',
                  'grid-template-rows': (m_screen  && m_screen.fields.length) ? 'repeat(auto-fit, minmax(calc(var(--text-font-size) + 2px), 1fr))' : 'repeat(24, 1fr)',
                  'z-index': 0, 'width': 'min-content', 'margin-top': '1rem'}">
    @if (!isChildWindow) {
      <div name="emptyArray" style="display: contents; z-index: -999;">
        @for (item of screenWidthArray; track item; let i = $index) {
          <span [ngStyle]="{'grid-row': 1 / 1, 'grid-column-start': 1+i}">&nbsp;</span>
        }
      </div>
    }
    @if (isChildWindow && m_screen.windows[index].title) {
      <div name="windowTitle"
        style="display: flex; margin-top: -0.7rem; background-color: Hidden; position: relative; top: 10px;"
        [ngStyle]="titlePosition">
        @for (ch of m_screen.windows[index].title.split(''); track ch; let i = $index) {
          <span>{{ch != ' ' ? ch : '&nbsp;'}}</span>
        }
      </div>
    }
    @for (field of m_screen.fields; track field) {
      <ng-container #gridContainer >
        @if (field && (field.protected || (!isChildWindow && hasChildWindows()) || (isChildWindow && !isLastChildWindow))) {
          <app-field [field]="field"></app-field>
        }
        @if (field && !field.protected && (isChildWindow ? isLastChildWindow : !hasChildWindows())) {
          <app-input-field [field]="field"></app-input-field>
        }
      </ng-container>
    }
    @if (m_screen.transformations && (isChildWindow ? isLastChildWindow : !hasChildWindows())) {
      <app-transform-generator [transformations]="m_screen.transformations"></app-transform-generator>
    }
    @if (!isChildWindow) {
      @for (window of getChildWindows(); track window; let i = $index) {
        <app-screen [screen]="window" [isChildWindow]="true" [index]="i" [isLastChildWindow]="getChildWindows().length === i+1"></app-screen>
      }
    }
    <ng-content></ng-content>
  </div>
}

