@for (transform of transformations; track i; let i = $index) {
  <ng-container name="transformations">
    @if (!transform.inTableCell) {
      @switch (transform.type) {
        @case ('CalendarTransformation') {
          <app-calendar [transform]="transform"></app-calendar>
        }
        @case ('ClickableTransformation') {
          <app-clickable [transform]="transform"></app-clickable>
        }
        @case ('TableTransformation') {
          <app-table [transform]="transform"></app-table>
        }
        @case ('MultipleOptionsTransformation') {
          <app-multiple-options [transform]="transform"></app-multiple-options>
        }
        @case ('TextTransformation') {
          <app-text [transform]="transform"></app-text>
        }
        @case ('MenuTransformation') {
          <app-menu [transform]="transform"></app-menu>
        }
        @case ('LineTransformation') {
          <app-line [transform]="transform"></app-line>
        }
        @case ('CheckboxTransformation') {
          <app-checkbox [transform]="transform"></app-checkbox>
        }
        @default {
        }
      }
    }
  </ng-container>
}
