@if (transform.triggerType === 'Button') {
  <button cdsButton="secondary" size="lg" (click)="onClick()" class="button-corner btn-width" [ngClass]="transform.style"
    [ngStyle]="{'grid-row-start': transform.position.row, 'grid-column-start': transform.position.column, 'grid-column-end': (transform.position.column+transform.triggerText.length+2), 'line-height': '1rem', 'height': '1.4rem'}">
    {{transform.triggerText}}
  </button>
}

@if (transform.triggerType === 'Link') {
  <a [ngClass]="transform.style" (click)="onClick()"
    [ngStyle]="{'grid-row-start': transform.position.row, 'grid-column-start': transform.position.column, 'grid-column-end': (transform.position.column+transform.triggerText.length+1)}">
    {{transform.triggerText}}
  </a>
}
@if (transform.triggerType === 'Image' && transform.triggerImage && transform.triggerImage != '') {
  <img [ngClass]="transform.style" [src]="transform.triggerImage" (click)="onClick()"
    [ngStyle]="{'grid-row-start': transform.position.row, 'grid-column-start': transform.position.column}">
}

@if (transform.leadingLabel) {
  <app-text [transform]="transform.leadingLabel"></app-text>
}