@if (field) {
  @if (content && content.length > 0) {
    <div class="flexField"
      [attr.name]="field.name"
      [id]="field.name"
      [ngStyle]="position"
      [style]="getCss()"
      [dir]="(field.visualContent && storageService.getLanguage().screenDirectionRTL) ? 'rtl' : 'ltr'"
      [ngClass]="[field.blinking ? 'blink_me' : '', fgClass ? fgClass : '', bgClass ? bgClass : '', this.field.isIntensified ? 'gx_intf' : '']"
      [hidden]="!field.visible">
      @for (ch of this.content; track ch; let i = $index) {
        <span>
          {{ch != ' ' ? ch : '&nbsp;'}}
        </span>
      }
    </div>
  }
  @if (content && content.length === 0) {
    <div class="flexField"
      [ngStyle]="position"
      [style]="getCss()"
      [ngClass]="bgClass"
      [hidden]="!field.visible">
      <span>&nbsp;</span>
    </div>
  }
}
