<cds-modal id="readonly_modal" [open]="errorFlag" (overlaySelected)="errorFlag = false" (close)="errorFlag = false">
  <cds-modal-header (closeSelect)="errorFlag = false" [showCloseButton]="showCloseButton">
    <!-- <p class="cds--modal-header__label cds--type-delta">No service required</p> -->
    <p class="cds--modal-header__heading cds--type-beta">{{errorMessage}}</p>
  </cds-modal-header>
  <div class="cds--modal-content">
    <p>Press the Reconnect button to start a new session.</p>
  </div>
  <div class="reconnect-container">
    <button cdsButton="primary" (click)="errorFlag = false" [attr.modal-primary-focus]="true" class="custom-btn">
      Reconnect
    </button>
  </div>
  <!-- <cds-modal-footer>
    <ng-container>
      <button cdsButton="primary" (click)="errorFlag = false" [attr.modal-primary-focus]="true">
        Okay
      </button>
    </ng-container>
  </cds-modal-footer> -->
</cds-modal>

<ng-container *ngIf="storageService.isConnected()">

  <cds-header cdsTheme="g90" brand="IBM ApplinX">
    <!-- <img class="logoImage" src="assets/images/ApplinX-tsa-logo-light.svg" alt=""> -->
    <cds-header-global> 
      
      <cds-overflow-menu [flip]="false" [customTrigger]="customMacroTrigger" description="Macro" [align]="align">
        <div class="flex" cdsTheme="g90">
          <cds-header-action description="Play" *ngIf="!recordStop && showButtonFlag">
            <svg cdsIcon="play" size="20" (click)="openMacro('play')"></svg>
          </cds-header-action>
          <cds-header-action description="Record" *ngIf="!recordStop && showButtonFlag">
            <svg cdsIcon="recording--filled--alt" size="20" (click)="openMacro('record')"></svg>
          </cds-header-action>
          <cds-header-action description="Stop" *ngIf="recordStop && showButtonFlag">
            <!-- <svg cdsIcon="stop--filled" size="20" (click)="stopRecord()"></svg> -->
            <svg cdsIcon="stop--filled" size="20" (click)="openMacro('stopRecord')"></svg>
          </cds-header-action>
          <cds-header-action description="View" *ngIf="!recordStop && showButtonFlag">
            <svg cdsIcon="view" size="20" (click)="openMacro('view')"></svg>
          </cds-header-action>
          <cds-header-action description="Delete" *ngIf="!recordStop && showButtonFlag">
            <svg cdsIcon="trash-can" size="20" (click)="openMacro('remove')"></svg>
          </cds-header-action>
        </div>
      </cds-overflow-menu>
      <cds-placeholder></cds-placeholder>
        <ng-template #customMacroTrigger>
          <!-- <svg *ngIf="sharedService.getMacroRecordFlag()" cdsIcon="document--import" size="20" (click)="macro()" 
          [ngStyle]="{'fill':'red'}"></svg>
          <svg *ngIf="!sharedService.getMacroRecordFlag()" cdsIcon="document--import" size="20" (click)="macro()" 
          [ngStyle]="{'fill':'white'}"></svg> -->
          <svg cdsIcon="document--import" size="20" (click)="macro()" 
          [ngStyle]="{'fill': sharedService.getMacroRecordFlag() ? 'red' : 'white'}"></svg>
        </ng-template>

      <cds-overflow-menu [flip]="false" [customTrigger]="copyText" description="Copy text from host screen"></cds-overflow-menu>
      <ng-template #copyText>
        <svg cdsIcon="copy" size="20" id="copy" (click)="copy()"></svg>
      </ng-template>
      <cds-overflow-menu [flip]="false" [customTrigger]="printer" description="Print host screen snapshot"></cds-overflow-menu>
      <ng-template #printer>
        <svg cdsIcon="printer" size="20" (click)="print()" id="print"></svg>
      </ng-template>

        <cds-overflow-menu [flip]="false" [customTrigger]="customZoomTrigger" description="Zoom" [align]="align"> 
          <div class="range-slider">
            <input class="input-range" type="range" [step]="zoomStep" [min]="zoomMinValue" [max]="zoomMaxValue" (change)=onZoomChange($event)
            [(ngModel)]="value">
            <div class="tooltip">{{value}}px</div>
          </div>
          <cds-placeholder></cds-placeholder>
          <div>
            <cds-icon-button buttonId="icon-btn1" type="button" kind="secondary"  description="Default">
              <svg class="cds--btn__icon" cdsIcon="restart" size="20"></svg>
            </cds-icon-button>
          </div>
        </cds-overflow-menu>
        <cds-placeholder></cds-placeholder>
        <ng-template #customZoomTrigger>
          <svg cdsIcon="zoom--in" size="20"></svg>
      </ng-template>
  
      <cds-overflow-menu [flip]="false" [customTrigger]="customColorTrigger" description="Style" [align]="align" >
        <div cdsTheme="g90">
          <cds-overflow-menu-option id="Black" (click)="selected($event)" [divider]="true"><div class="square-black"></div></cds-overflow-menu-option>
          <cds-overflow-menu-option id="White" (click)="selected($event)" [divider]="true"><div class="square-white"></div></cds-overflow-menu-option>
          <cds-overflow-menu-option id="Green" (click)="selected($event)" [divider]="true"><div class="square-green"></div></cds-overflow-menu-option>
      </div>
      </cds-overflow-menu>
      <cds-placeholder></cds-placeholder>
      <ng-template #customColorTrigger>
        <svg cdsIcon="color-palette" size="20"></svg>
      </ng-template>
      
      <cds-overflow-menu [flip]="false" [customTrigger]="refresh" description="Refresh"></cds-overflow-menu>
      <ng-template #refresh>
        <svg cdsIcon="restart" size="20"></svg>
      </ng-template>
      <cds-overflow-menu [flip]="false" [customTrigger]="configuration" description="Configuration"></cds-overflow-menu>
      <ng-template #configuration>
        <svg cdsIcon="settings" size="20"></svg>
      </ng-template>
      <cds-overflow-menu [flip]="false" [customTrigger]="sendToHost" description="Send to Host"></cds-overflow-menu>
      <ng-template #sendToHost>
        <svg cdsIcon="send--alt" size="20"></svg>
      </ng-template>
      <cds-overflow-menu [flip]="false" [customTrigger]="logoff" description="Log Off"></cds-overflow-menu>
      <ng-template #logoff>
        <svg cdsIcon="close" size="20" (click)="logout()" itemId="logout"></svg>
      </ng-template>
    </cds-header-global>
  </cds-header>

  <br />
  <br />

  <div class="middle-container">
    <div *ngIf="!isSmallScreen()" class="flexContainer" [hidden]="!displayScreen">
      <div class="main-container">
        <div class="maindiv" id="maindiv">
          <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate()"></router-outlet>
        </div>
      </div>
    </div>
    <div id="app-host-keys-btns" class="hostKeys key-transform-container hostKeys-btns-container"
      *ngIf="hostKeyTransforms">
      <app-host-keys-template [transformations]="hostKeyTransforms" [themeColor]="themeColor"
        [multipleHostKeys]="this.hostKeysBool">
      </app-host-keys-template>
    </div>
  </div>

  <!-- *************************** For mobile *************************** -->
  <ng-container *ngIf="isSmallScreen()">
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side">
        <sag-topnav-right>
          <sag-topnav-item itemType="button" [disable]='false' title="Close sidebar" (click)="sidenav.toggle()"
            itemIcon="dlt-icon-arrow-left" itemStyle="color:white">
          </sag-topnav-item>
          <sag-topnav-item itemType="button" [disable]='false' title="Refresh" (click)="reload()"
            itemIcon="dlt-icon-refresh" itemStyle="color:white">
          </sag-topnav-item>
          <sag-topnav-item itemType="button" [disable]='false' title="Logoff-2" (click)="logout()"
            itemIcon="dlt-icon-close" itemStyle="color:white">
          </sag-topnav-item>
        </sag-topnav-right>
        <div style="bottom: 5px; position: fixed; width: max(7%, 56px); margin: 0 auto;"><img
            src="assets/images/ApplinX-all white.svg"></div>
      </mat-sidenav>
      <mat-sidenav-content style="position: absolute; width: 100%;">
        <div>
          <mat-icon [hidden]="sidenav.opened" (click)="sidenav.toggle()"
            style="position: fixed;">navigate_next</mat-icon>
          <div class="flexContainer" [hidden]="!displayScreen">
            <div style="align-self: flex-start;">
              <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate()"></router-outlet>
            </div>
            <div class="hostKeys" *ngIf="hostKeyTransforms" style="max-width: 10%; right: 0; align-self: center;"
              [ngStyle]="{'margin-left': sidenav.opened ? '1%' : '5%'}">
              <app-host-keys-template [transformations]="hostKeyTransforms">
              </app-host-keys-template>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</ng-container>

<router-outlet *ngIf="!this.storageService.isConnected()" (activate)="onActivate($event)"
  (deactivate)="onDeactivate()"></router-outlet>

<div *ngIf="screenLockerService.isShowScreenSpinner()" class="spinner">
  <mat-spinner diameter="70"></mat-spinner>
  <div>Loading...</div>
</div>

<cds-toast
  *ngIf="notificationObj"
  [notificationObj]="notificationToastObj" (click)="onClose()"
></cds-toast>
<ng-template #container></ng-template>