<div class="hostKeysContainer" *ngIf= "!this.multipleHostKeys">
  <ng-container *ngFor="let transform of transformations; index as i">
    <button cdsButton="secondary" size="lg" class="button-corner" id="on-hover" *ngFor="let hostKey of transform.hostKeys" (click)="onClick(hostKey.action)">
      {{hostKey.caption}}
    </button>
  </ng-container>
  <button cdsButton size="lg" class="button-corner" id="enter" [ngClass] = "{green_enter: themeColor === 'Green'}" 
  style="margin-top: 10%" (click)="this.navigationService.sendKeys('[enter]')">Enter</button>
</div>
<div class="multiplehostKeysContainer" *ngIf= "this.multipleHostKeys">
  <ng-container *ngFor="let transform of transformations; index as i">
    <button cdsButton size="lg" class="button-corner" [ngClass] = "{green_secondary: themeColor === 'Green'}" id="on-hover" *ngFor="let hostKey of transform.hostKeys" (click)="onClick(hostKey.action)">
      {{hostKey.caption}}
    </button>
  </ng-container>
  <button cdsButton size="lg" class="button-corner" id="enter" [ngClass] = "{green_enter: themeColor === 'Green'}" style="margin-top: 10%" (click)="this.navigationService.sendKeys('[enter]')">Enter </button>
</div>
